
<h2>Edit Comic</h2>

<form action="/comics" method='post'>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{comic.name}}" required autofocus>
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" name="author" value="{{comic.author}}">
    </div>
    <div>
        <label for="genre">Genre</label>
        <input type="text" id="genre" name="genre" value="{{comic.genre}}">
    </div>
    <div>
        <label for="wholesale_price">Wholesale Price</label>
        <input type="number" id="wholesale_price" name="wholesale_price" value="{{comic.wholesale_price}}">
    </div>
    <div>
        <label for="markup">Markup</label>
        <input type="number" id="markup" name="markup" value="{{comic.markup}}">
    </div>
    <div>
        <label for="">Stock Count</label>
        <input type="number" id="stock_count" name="stock_count" value="{{comic.stock_count}}">
    </div>
    <div>
        <label for="min_count">Minimum Number</label>
        <input type="number" id="min_count" name="min_count" value="{{comic.min_count}}">
    </div>
    <div>
        <label for="out_of_stock">Out of Stock</label>
        <select name="out_of_stock" value="{{comic.out_of_stock}}" id="out_of_stock">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
    <div>
        <label for="publisher_id">Publisher</label>
        <select name="publisher_id" id="publisher_id">
            {% for publisher in publishers %}
                <option value="{{ publisher.id }}"
                    {% if comic.publisher.id == publisher.id %}
                        selected="selected"
                    {% endif %}>
                    {{publisher.name}}
                </option>                
            {% endfor %}


        </select>

        
    </div>
    

        <button type="submit">Update</button>



</form>