{% extends 'base.html' %}

{% block content %}

    <h2>Inventory</h2>

    {% for comic in comics %}
        <section id="inventory">
            <h3>{{ comic.name }}</h3>
            <div class="comic_inv">
                <p>Author: {{ comic.author }}</p>         
                
                <p>Genre: {{ comic.genre }}</p>
                <p>Wholsesale Price: {{ comic.wholsesale_price }}</p>
                <p>Markup: {{ comic.markup }}</p>
                <p>Stock Count: {{ comic.stock_count }}</p>
                <p>Minimum Number: {{ comic.min_count }}</p>
                <p>Publisher: {{ comic.publisher.name }}</p>
                <p>Product ID: {{ comic.id }}</p>

                {% if comic.stock_count == 0 %}

                <p>OUT OF STOCK</p>  

                {% elif comic.stock_count <= 3 %}

                    <p>LOW STOCK</p>                  
                    
                {% endif %}

                    <form action="/comics/{{ comic.id }}/edit_comic" method="get">
                        <input type="submit" value="Update">
                    </form>
                    
                    <form action="/comics/{{ comic.id }}/delete" method="post">
                        <input type="submit" value="Delete">
                    </form>

            </div>
                
        </section>

        
    {% endfor %}   
    

    {% endblock content %}
