<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>python project shop</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
    <body>
        <header>
            <h1>Kenny's Comic Repository</h1>
            
                <nav class="home">
                    <a href="/">Home</a>
                    <a href="/comics/add_comic">Add Comic</a>
                    <a href="/comics/find_comic">Find Comic</a>
                    <a href="/comics">Inventory</a>
                    <a href="/publishers/find_publisher">Find Publisher</a>
                    <a href="/publishers/add_publisher">Add Publisher</a>
                    <a href="/publishers">All Publishers</a>                 
                </nav>

        </header>

        

        {% block content %}
            
        {% endblock content %}


        
    </body>
</html>