{% extends 'base.html' %}

{% block content %}


<nav id="comic_nav">
    <nav>
        <a href="/comics/add_comic">Add Comic</a>
    </nav>
    <nav>
        <a href="/comics/find_comic">Find Comic</a>
    </nav>
    <nav>
        <a href="/comics">Inventory</a>
    </nav>
</nav>

<nav id="publisher_nav">
    <nav>
        <a href="">Find Publisher</a>
    </nav>
    <nav>
        <a href="">Add Publisher</a>
    </nav>
    <nav>
        <a href="/publishers">All Publishers</a>
    </nav>
</nav>

{% endblock content %}